.box{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin: 0 auto;
    align-items: center;
}
.box-win{
    font-size: 2rem;
    text-align: center;

}
.box-drawing{
    position: relative;
}
/*gallows part*/
.hang-part{
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
}
.top-part{
    height: 10px;
    width: 200px;
    background: black;
    margin-left: 120px;
}
.stem-part{
    height: 400px;
    width: 10px;
    background: black;
    margin-left: 120px;
}
.bottom-part{
    height: 10px;
    width: 250px;
    background: black;
}
/*hangman*/
.head{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: -30px;
}
.body{
    width: 10px;
    height: 100px;
    background: black;
    position: absolute;
    top: 120px;
    right: 0;
}
.right_arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}
.left_arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom;
}
.right_leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 210px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}
.left_leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 210px;
    right: 0px;
    rotate: -60deg;
    transform-origin: right bottom;
}
/*keyboard*/
.box-keyboard{
    display: flex;
    gap: .25em;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}
.word-keyboard{
border-bottom: .1em solid black;
}
.keyboard-div{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
    gap: .5rem;
}
.btn-keyboard{
    width:100%;
    background: none;
    border:3px solid black;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color:black

}
.btn.active{
background-color: hsl(200,100%,50%);
color:white
}
.btn.inactive{
opacity:  .3;
}
.btn-keyboard:hover:not(disabled),
.btn-keyboard:focus{
    background-color: hsl(200,100%,75%);
}